{% extends "base.html.twig" %}{% block stylesheets %}
{{ parent() }}
<link
  rel="stylesheet"
  href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
/>
<script src="{{ asset('assets/accueil.js') }}"></script>
{% endblock %}
{% block title 'Gerer les voitures' %}
{% block body %}
  {% for message in app.flashes('success') %}
  <div class="alert alert-success text-center">
    {{ message }}
  </div>
  {% endfor %}
<div class="d-flex ">
  {% if is_granted('ROLE_ADMIN') %}
<div class="container mt-4">
  <h1>Ajouter un employé</h1>
    <div class="text-right" style="text-align: right;">
    <a href="{{ path("newEmploye")}}" class="btn btn-primary">Créer un employé</a>
  </div>
  {% for message in app.flashes('success') %}
  <div class="alert alert-success">
    {{ message }}
  </div>
  {% endfor %}
<table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for employe in employes %}
      <tr>
        <td>{{ employe.email }}</td>
        <td>
      <a href="{{ path("editEmploye", {id: employe.id}) }}" class="btn btn-secondary">Editer</a>
      <form method="post" action="{{ path("supprimerEmploye", {id: employe.id}) }}" style="display: inline-block;" onsubmit="return confirm('Etes vous vraiment sur ?')">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token("supprimer" ~ employe.id) }}">
        <button class="btn btn-danger">Supprimer</button>
          </form>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="container mt-4">
  <h1>Ajouter un horaire</h1>
    <div class="text-right" style="text-align: right;">
    <a href="{{ path("newHoraire")}}" class="btn btn-primary">Créer un Horaire</a>
  </div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for horaire in horaires %}
      <tr>
        <td>{{ horaire.jour }}</td>
        <td>
      <a href="{{ path("editHoraire", {id: horaire.id}) }}" class="btn btn-secondary">Editer</a>
      <form method="post" action="{{ path("supprimerHoraire", {id: horaire.id}) }}" style="display: inline-block;" onsubmit="return confirm('Etes vous vraiment sur ?')">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token("supprimer" ~ horaire.id) }}">
        <button class="btn btn-danger">Supprimer</button>
          </form>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
</div>
<div class="d-flex">
<div class="container mt-4">
  <h1>Gérer les voitures</h1>
    <div class="text-right" style="text-align: right;">
    <a href="{{ path("new")}}" class="btn btn-primary">Créer une nouvelle annonce</a>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for voiture in voitures %}
      <tr>
        <td>{{ voiture.title }}</td>
        <td>
          <a href="{{ path("edit", {id: voiture.id}) }}" class="btn btn-secondary">Editer</a>
          <form method="post" action="{{ path("supprimer", {id: voiture.id}) }}" style="display: inline-block;" onsubmit="return confirm('Etes vous vraiment sur ?')">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="_token" value="{{ csrf_token("supprimer" ~ voiture.id) }}">
          <button class="btn btn-danger">Supprimer</button>
          </form>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="container mt-4">
  <h1 style="margin-bottom: 46px;">Commentaires en attente</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for commentaire in commentairesEnAttente %}
      <tr>
        <td>{{ commentaire.pseudo }} le {{ commentaire.createdAt|date('d/m/Y H:i') }}
          <div class="afficher-la-note">
            {% for i in range(1, 5) %}
              {% if i <= commentaire.note %}
                <i class="las la-star" style="color: #ffd700; font-size: 24px;"></i>
              {% else %}
                <i class="lar la-star" style="color: #ddd; font-size: 24px;"></i>
              {% endif %}
            {% endfor %}
          </div>
          <p style="font-size: 12px;;">{{ commentaire.getContenue }}</p>
        </td>
        <td>
          <form method="post" action="{{ path("validerCommentaire", {id: commentaire.id}) }}">
            <input type="hidden" name="_method" value="POST">
            <input type="hidden" name="_token" value="{{ csrf_token("valider" ~ commentaire.id) }}">
            <button type="submit" class="btn btn-success">Valider</button>
          </form>
          <form method="post" action="{{ path("supprimerCommentaire", {id: commentaire.id}) }}" style="display: inline-block;margin-top:10px;" onsubmit="return confirm('Etes vous vraiment sûr ?')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token("supprimer" ~ commentaire.id) }}">
            <button class="btn btn-danger">Supprimer</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
{% endblock %}