{% extends "base.html.twig" %}
{% block title 'Gerer les voitures' %}
{% block body %}
<div class="container mt-4">
  <h1>Gérer les voitures</h1>
  {% for message in app.flashes('success') %}
  <div class="alert alert-success">
    {{ message }}
  </div>
  {% endfor %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for voiture in voitures %}
      <tr>
        <td>{{ voiture.title }}</td>
        <td>
          <a href="{{ path("edit", {id: voiture.id}) }}" class="btn btn-secondary">Editer</a>
          <form method="post" action="{{ path("supprimer", {id: voiture.id}) }}" style="display: inline-block;" onsubmit="return confirm('Etes vous vraiment sur ?')">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="_token" value="{{ csrf_token("supprimer" ~ voiture.id) }}">
          <button class="btn btn-danger">Supprimer</button>
          </form>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="text-right" style="text-align: right;">
    <a href="{{ path("new")}}" class="btn btn-primary">Créer une nouvelle annonce</a>
  </div>
</div>
{% endblock %}
