    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ path("detail", {id: voiture.id}) }}">
                    {{ voiture.title }}
                </a>
            </h5>
            <p class="card-text">Année :{{ voiture.annee }}</p>
            <p class="card-text">{{ voiture.kilometrage }} km</p>
            <div class="text-primary" style="font-size:2rem; font-weight: bold;">
                {{ voiture.formatPrix }} €
            </div>
        </div>
    </div>