{% extends "base.html.twig" %} {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('styles/app.css') }}" />
<link
  rel="stylesheet"
  href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
/>
<link rel="stylesheet" href="{{ asset('css/accueil.css') }}" />

<script src="{{ asset('assets/accueil.js') }}"></script>
{% endblock %} {% block body %}
<main>
  {% for message in app.flashes('success') %}
  <div class="alert alert-success">
    {{ message }}
  </div>
  {% endfor %} {% if not commentForm.vars.valid %}
  <div class="alert alert-danger">Erreur dans le formulaire</div>
  {% endif %}
  <section class="presentation-garage">
    <div class="container-main">
      <h2 class="title-page">Présentation du garage</h2>
      <div class="intro">
        Un garage passionné offrant des services automobiles complets. Des experts dévoués prennent
        soin de votre véhicule avec précision et professionnalisme. Réparations, entretien,
        diagnostics et plus encore. Faites confiance à V.PARROT pour des performances optimales et
        une expérience client exceptionnelle.
      </div>
      <div class="type-img">
        <div class="service-type">
          <a href="{{ path('service') }}">
            <h3 class="title-type-service">Type de services</h3>
          </a>
          <ul class="type">
            <li>Carrosserie</li>
            <li>Mécanique</li>
            <li>Entretien</li>
          </ul>
        </div>
        <img src="./image/garage.jpg" alt="photos du garage" class="img-garage" />
      </div>
    </div>
  </section>
  <div class="row d-flex justify-content-around">
    <h3 class="text-center" style="text-decoration: underline">Avis</h3>
  </div>
  <div class="card-group d-flex justify-content-around m-4">
    {% for commentaire in latestCommentaires %}
    <div class="card m-2 border border-primary rounded">
      <div class="card-body">
        <p class="card-text">
          Publié par <strong>{{ commentaire.pseudo }}</strong> le
          {{ commentaire.getCreatedAt()|date('d/m/Y H:i') }}
        </p>
        <div class="afficher-la-note">
          {% for i in range(1, 5) %} {% if i <= commentaire.getNote() %}
          <i class="las la-star" style="color: #ffd700;font-size: 24px;"></i>
          {% else %}
          <i class="lar la-star" style="color: #ddd; font-size: 24px;"></i>
          {% endif %} {% endfor %}
        </div>
        <p class="card-text mt-2">{{ commentaire.getContenue() }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row d-flex justify-content-center mt-2">
    <div class="row d-flex justify-content-center">
      <a
        id="show-comments-btn"
        class="btn btn-primary mb-2"
        style="width: 50%"
        href="{{ path('commentaires') }}"
        >Tous les commentaires</a
      >
      <a
        href="#!"
        class="btn btn-primary {{ commentForm.vars.submitted ? 'hide-button' : 'show-button' }} mb-2"
        id="contactButton"
        style="width: 50%"
        >Ajouter un commentaire</a
      >
    </div>
  </div>
  <div id="contactForm" class="{{ commentForm.vars.submitted ? 'show-form' : 'hide-form' }}">
    {% include 'pages/form_commentaires.html.twig' with {'commentForm': commentForm, 'note': note}
    %}
  </div>
</main>
{% endblock %}
