<h6 class="title-horaire mt-2"><b>Horaires d'ouverture</b></h6>
<p class="horaires text-center">
  {% for horaire in horaires %}
  {{ horaire.getJour() }} : {{ horaire.getOuvertureMatin() }} - {{ horaire.getFermetureMatin() }}
  {{ horaire.getOuvertureApresMidi() }} - {{ horaire.getFermetureApresMidi() }}<br />
  {% endfor %}
</p>
