<h1>Demande de contact</h1>
<table>
  <tr>
    <td>Nom du véhicule :</td>
    <td>
      <a
        href="{{
          url('detail', {
            id: contact.voiture.id,
            slug: contact.voiture.slug
          })
        }}"
        >{{ contact.voiture.title }}</a
      >
    </td>
  </tr>
  <tr>
    <td>Nom :</td>
    <td>{{ contact.lastname }}</td>
  </tr>
  <tr>
    <td>Prénom :</td>
    <td>{{ contact.firstname }}</td>
  </tr>
  <tr>
    <td>Téléphone :</td>
    <td>{{ contact.phone }}</td>
  </tr>
  <tr>
    <td>Email :</td>
    <td>{{ contact.email }}</td>
  </tr>
  <tr>
    <td>Message :</td>
    <td>{{ contact.message | nl2br }}</td>
  </tr>
</table>
