<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Garage-V.Parrot{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" /> 
    <link rel="stylesheet" href="{{ asset('css/base.css') }}" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {# Run `composer require symfony/webpack-encore-bundle` to start using
    Symfony UX #} {% block stylesheets %}
    {{
      encore_entry_link_tags("app")
    }}
    {% endblock %} {% block javascripts %}
    {{
      encore_entry_script_tags("app")
    }}
    {% endblock %}
  </head>
  <body>
    {# header #}
    <header>
      <div class="container-head">
        <img src="{{ asset('image/logo.png') }}" class="img-logo" alt="logo v.parrot" />

        <h1 class="title-logo">Garage V.PARROT</h1>
      </div>
    </header>
    <div class="navigation">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="{{ path("accueil")}}" aria-current="page"
            >Accueil</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{{ path("service")}}"
            >Service</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path("occasion")}}">Véhicule d'occasion</a>
        </li>

      {% if app.user %}
        <li class="nav-item">
          <a class="nav-link" style="color:#fff; background-color:#0d6efd;border-radius: 5px;" href="{{ path("logout") }}">Se déconnecter</a>
        </li>
      {% endif %}      </ul>
    </div>
    {% block body %}{% endblock %} 
        <div class="barre"></div>
<footer>
    <div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="adresse-maps text-start">
        <iframe style="width: 350px;height: 200px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2889.4657005244303!2d1.4286253757174698!3d43.596844256074675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebb7102fe2baf%3A0x23372ba2958488ad!2sPeugeot!5e0!3m2!1sfr!2sfr!4v1693573800780!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div id="map"></div>
      </div>
    </div>
    <div class="col">
        <div class="container p-4 pb-0">
    <section class="mt-4">
      <a
        class="btn text-white btn-floating m-1"
        href="https://facebook.com/"
        role="button"
        ><i class="fab fa-facebook-f m-2" style="font-size: 2rem"></i
      ></a>
      <a
        class="btn text-white btn-floating m-1"
        href="https://twitter.com/"
        role="button"
        ><i class="fab fa-twitter m-2"style="font-size: 2rem"></i
      ></a>
      <a
        class="btn text-white btn-floating m-1"
        href="https://whatsapp.com/"
        role="button"
        ><i class="fab fa-whatsapp m-2"style="font-size: 2rem"></i
      ></a>
      <a
        class="btn text-white btn-floating m-1"
        href="https://instagram.com/"
        role="button"
        ><i class="fab fa-instagram m-2"style="font-size: 2rem"></i
      ></a>
    </section>
  </div>
    </div>
 <div class="col">
        <div class="horaires-footer">
          <h6 class="title-horaire mt-2"><b>Horaires d'ouverture</b></h6>
            <p class="horaires text-center">
              {% for horaire in horaires %}
                {{ horaire.getJour() }} : {{ horaire.getOuvertureMatin() }} - {{ horaire.getFermetureMatin() }}
                {{ horaire.getOuvertureApresMidi() }} - {{ horaire.getFermetureApresMidi() }}<br />
              {% endfor %}
            </p>
        </div>
    </div>
  </div>
</div>
</footer>
    <copyright class="bg-light text-center text-white d-flex flex-column">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white text-decoration-none" href="*!">Garage-v-parrot.com</a>
  </div>
</copyright>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ asset("build/app.js") }}"></script>
  </body>
</html>
